* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 30.5%;
    background: #212121;
    color: white;

}

.content {

    max-width: 960px;
    margin: 0 auto;
    font-size: 2.5em;
}

h1 {
    color: #f60;
    text-align: center;
    margin: 0.25em auto;
    font-size: 2em;
}

header,
nav,
footer {
    background-color: #ed4c62;
    border-radius: .5em;
    margin: 0.5em auto;
    padding: 0.25em;
    text-align: center;
}

#content {
    margin: 0 auto;
    padding: 20;
    text-align: center;
}

#principal,
aside {
    background-color: #ed4c62;
    border-radius: .5em;
    display: inline-block;
    margin: 0 auto;
    min-height: 200px;
    padding: .25em 0;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

article {
    background-color: #ed4c62;
    border-radius: .5em;
    min-height: 140px;
    padding: .25em;
    margin: 0 1em;
}

aside {
    margin-top: 0.5em;
}

/* MEDIA QUERY */
@media screen and (min-width: 44em) {
    h1 {
        font-size: 5em;
    }

    #principal {
        width: 70%;
    }

    aside {
        width: 29%;
        margin-top: 0;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos del menú */
ul {
    display: flex;
    justify-content: center;
    /* Centra los elementos en el contenedor */
    background-color: #333;
    /* Color de fondo del menú */
}

li {
    margin: 0 10px;
    /* Espacio entre elementos del menú */
}

a {
    color: #fff;
    /* Color del texto del menú */
    text-decoration: none;
    /* Quita el subrayado del enlace */
    padding: 10px 20px;
    /* Espacio alrededor del texto del enlace */
    border-radius: 5px;
    font-size: 2em;
    /* Borde redondeado */
}

a:hover {
    background-color: #555;
    /* Cambia el color de fondo al pasar el ratón */
}